{% extends 'base.html.twig' %}
{% block title %}
    {{ book.title }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 d-flex justify-content-center">
                <img  style="width: 14rem;" class="card-img-top" src="{{ book.image }}" alt="{{ book.title }}">
            </div>
            <div class="col-sm-6">
                <h3>{{ book.title }}</h3>
                <div>
                    <span class="fw-bold">Author:</span>
                    <span>{{ book.author }}</span>
                    <br>
                    <span class="fw-bold">Pages:</span>
                    <span>{{ book.pagecount }}</span>
                    <br>
                    <span class="fw-bold">Status:</span>
                    <span>{{ book.status }}</span>
                    <br>
                    <span class="fw-bold">Actions:</span>
                    <span><a href="{{ path('edit', {id: book.id}) }}">edit</a></span> |
                    <span><a href="{{ path('delete', {id: book.id}) }}">delete</a></span>
                    <br>
                    <span class="fw-bold">Description:</span>
                    <br>
                    <span>{{ book.description }}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}